<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Links
        </mat-panel-title>
        <mat-panel-description>
            Links to other objects with a relation in between
        </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
        <mat-list-item *ngFor="let link of links">
            <mat-icon mat-list-icon>
                share
            </mat-icon>
            <div mat-line>
                {{link.object.name | truncateRdfUrl}}
            </div>
            <div mat-line>
                {{link.predicate | truncateRdfUrl}}
            </div>
            <button (click)="deleteLink(link)" mat-button>
                <mat-icon>delete</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
    <mat-action-row>
        <button (click)="openNewDialog()"
                color="accent"
                mat-button>
            NEW
        </button>
    </mat-action-row>
</mat-expansion-panel>
