<div fxLayout="column" mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <mat-select [(ngModel)]="attribute.name"
                    name="name">
            <mat-option *ngFor="let attr of attributeNameList | async"
                        [value]="attr">
                {{attr |truncateRdfUrl}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <!--    <mat-form-field appearance="fill">-->
    <!--        <input [(ngModel)]="attribute.name" matInput name="name">-->
    <!--    </mat-form-field>-->
    <mat-form-field appearance="fill">
        <mat-label>Value</mat-label>
        <input [(ngModel)]="attribute.value" matInput name="value">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>DataType</mat-label>
        <mat-select [(ngModel)]="attribute.dataType"
                    name="dataType">
            <mat-option *ngFor="let dataType of dataTypes "
                        [value]="dataType">
                {{dataType}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<mat-dialog-actions fxLayoutAlign="end">
    <button [mat-dialog-close]="attribute" mat-button>Save</button>
</mat-dialog-actions>
