<mat-toolbar color="primary">
    <!-- TODO: fix drawer -->
    <!-- TODO: use fxLayout -->
    <button (click)="drawer.toggle()"
            aria-label="Example icon-button with menu icon"
            class="example-icon"
            mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <app-select-ontology></app-select-ontology>
    <span class="spacer"></span>
    <button mat-raised-button>
        <mat-icon>verified_user</mat-icon>
        ANALYZE
    </button>
</mat-toolbar>
