<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Attributes
        </mat-panel-title>
        <mat-panel-description>
            Additional properties related to the object
        </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
        <mat-list-item *ngFor="let attribute of attributes">
            <mat-icon mat-list-icon>attach_file</mat-icon>
            <div mat-line>{{attribute.name |truncateRdfUrl}}</div>
            <div mat-line>{{attribute.value}} : {{attribute.dataType}}</div>
            <button (click)="deleteAttribute(attribute)" mat-button>
                <mat-icon>delete</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
    <div fxLayoutAlign="end">
        <button (click)="openNewDialog()" color="accent" mat-button>
            NEW
        </button>
    </div>
</mat-expansion-panel>
