<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Attributes
        </mat-panel-title>
        <mat-panel-description>
            This is a summary of the content
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
        <mat-card *ngFor="let attribute of attributes" fxLayout="row">
            <mat-card-title-group>
                <mat-card-title>{{attribute.name}}</mat-card-title>
                <mat-card-subtitle>{{typeof(attribute.value)}} {{attribute.value}}</mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-actions>
                <button (click)="deleteAttribute(attribute)" mat-button>
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <mat-divider></mat-divider>
    <button mat-button (click)="openNewDialog()">
        <mat-icon>add_circle</mat-icon>
    </button>
</mat-expansion-panel>
