<!--Title-->
<!--<div fxLayout="row">-->
<!--    <mat-icon>home</mat-icon>-->
<h2 mat-dialog-title>{{node.name}}</h2>
<!--</div>-->
<!--Content-->
<mat-dialog-content class="main-content"
                    fxLayout="row"
                    fxLayoutGap="1rem">
    <div fxLayout="column">
        <!--Name-->
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input [(ngModel)]="node.name"
                   matInput
                   placeholder="name">
            <!--            <mat-hint>Enter name of the node</mat-hint>-->
        </mat-form-field>
        <!--Base Type-->
        <mat-form-field appearance="fill">
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="node.type">
                <mat-option *ngFor="let rdfType of nodeType | async"
                            [value]="rdfType"
                            matTooltip="{{rdfType}}">
                    {{rdfType | truncateRdfUrl}}
                </mat-option>
            </mat-select>
            <!--            <mat-hint>Type of the node</mat-hint>-->
        </mat-form-field>
        <!--Super Type-->
        <mat-form-field *ngIf="disabled" appearance="fill">
            <mat-label>Super Type</mat-label>
            <input matInput disabled value="{{node.superType | truncateRdfUrl}}">
<!--            <mat-select [(ngModel)]="node.superType"-->
<!--                        disabled="true">-->
<!--                <mat-option *ngFor="let rdfType of superType | async"-->
<!--                            [value]="rdfType"-->
<!--                            matTooltipClass="example-tooltip-red1"-->
<!--                            matTooltip="{{rdfType}}">-->
<!--                    {{rdfType | truncateRdfUrl}}-->
<!--                </mat-option>-->
<!--            </mat-select>-->
            <!--            <mat-hint>Super type</mat-hint>-->
        </mat-form-field>
        <mat-form-field *ngIf="!disabled" appearance="fill">
            <mat-label>Super Type</mat-label>
            <mat-select [(ngModel)]="node.superType">
                <mat-option *ngFor="let rdfType of superType | async "
                            [value]="rdfType"
                            matTooltipClass="example-tooltip-red1"
                            matTooltip="{{rdfType}}">
                    {{rdfType | truncateRdfUrl}}
                </mat-option>
            </mat-select>
            <!--            <mat-hint>Here's the dropdown arrow ^</mat-hint>-->
        </mat-form-field>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <!--Attributes-->
    <mat-accordion multi>
        <!-- TODO: attributes is part of node-->
        <app-attributes [attributes]="node.attributes" [node]="node"></app-attributes>
        <app-links [links]="node.links"></app-links>
    </mat-accordion>
</mat-dialog-content>
<!--Footer-->
<mat-dialog-actions fxLayoutAlign="end">
    <button mat-button
            mat-dialog-close>
        CLOSE
    </button>
</mat-dialog-actions>
