<!--Title-->
<div fxLayout="row">
    <mat-icon>home</mat-icon>
    <h2 mat-dialog-title>{{node.name}}</h2>
</div>
<!--Content-->
<mat-dialog-content class="mat-typography"
                    fxLayout="row"
                    fxLayoutGap="1rem">
    <!--Name-->
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput
                   [(ngModel)]="node.name"
                   placeholder="name">
            <mat-hint>Enter name of the node</mat-hint>
        </mat-form-field>
        <mat-divider></mat-divider>
        <!--Base Type-->
        <mat-form-field appearance="fill">
            <mat-label>Type</mat-label>
            <mat-select name="type"
                        id="type"
                        [(ngModel)]="node.type"
                        [(value)]="nodeType">
                <mat-option *ngFor="let rdfType of nodeType | async"
                            matTooltip="{{rdfType.fullName}}"
                            [value]="node">
                    {{rdfType.displayName}}
                </mat-option>
            </mat-select>
            <mat-hint>Type of the node</mat-hint>
        </mat-form-field>
        <mat-divider></mat-divider>
        <!--Super Type-->
        <mat-form-field *ngIf="disabled" appearance="fill">
            <mat-label>Super Type</mat-label>
            <mat-select disabled="true">
                <mat-option *ngFor="let rdfType of superType | async"
                            matTooltip="{{rdfType.fullName}}"
                            value="option">
                    {{rdfType.displayName}}
                </mat-option>
            </mat-select>
            <mat-hint>Super type</mat-hint>
        </mat-form-field>
        <mat-form-field *ngIf="!disabled" appearance="fill">
            <mat-label>Super Type</mat-label>
            <mat-select>
                <mat-option *ngFor="let rdfType of superType | async "
                            matTooltip="{{rdfType.fullName}}"
                            value="option">
                    {{rdfType.displayName}}
                </mat-option>
            </mat-select>
            <mat-hint>Here's the dropdown arrow ^</mat-hint>
        </mat-form-field>
    </div>
    <!--Attributes-->
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Attributes
                </mat-panel-title>
                <mat-panel-description>
                    This is a summary of the content
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <mat-card>

                </mat-card>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Links
                </mat-panel-title>
                <mat-panel-description>
                    This is a summary of the content
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <mat-card *ngFor="let link of node.links">
                    <mat-card-title>{{link.object}}</mat-card-title>
                    <mat-card-subtitle>{{link.predicate}}</mat-card-subtitle>
                </mat-card>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</mat-dialog-content>
<!--Footer-->
<!--suppress HtmlDeprecatedAttribute-->
<mat-dialog-actions align="end">
    <button mat-button
            mat-dialog-close>Close
    </button>
</mat-dialog-actions>
