

.container {
    padding: 1rem;
}

.example-card {
    padding: 10px;
    max-width: 200px;

}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.search-container {
    margin-top: 2rem;
    padding: 2rem;
}
